// ***************************************
// admin.html ****************************
// ***************************************

/*
Search
#suggestions > li {
  position: relative;
  bottom: 40px;
  left: 40px;
  text-decoration: none;
  list-style-type: none;
  color: red;
}
*/

.container-fluid{
  flex-direction: row;
  //justify-content: space-around !important;
}
ul{
  display:flex;
  flex-direction: row;
  list-style: none;
}

#suggestions{
  max-height: 50px;
  width: 26%;
  position: relative;
  top: 44px;
  right: 230px;
  background-color: white;
  overflow:  auto;

  li{
    list-style: none;
  }
}

.lienSearch{

  background-color: white;
  color: black;
  text-decoration: none;
}
