// ***************************************
// admin.html ****************************
// ***************************************

/*
Search
#suggestions > li {
  position: relative;
  bottom: 40px;
  left: 40px;
  text-decoration: none;
  list-style-type: none;
  color: red;
}
*/

// ***************************************
// Navbar postWall:

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.display-frameCard__cardUser {

  width: 100%;
  height: auto;
  min-height: 150px;

  margin-top: 10%;

  overflow: hidden;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  //border: 1px solid rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  border-radius: 3% !important;

  display: flex;
  justify-content: center;

}

.divLeftCardUser {
  width: 45%;
  height: auto;

  margin-top: 3%;

  overflow: hidden;

  border: 1px solid red;

  display: flex;
  flex-direction: column;
}

.divRightCardUser {
  width: 45%;
  height: auto;

  margin-top: 3%;

  overflow: hidden;

  border: 1px solid rgb(158, 231, 21)
}

.display-frameCard__cardUserUsername>h2 {

  width: 100%;

  font-size: 28px;
  font-weight: bold;
  color: black;

  display: flex;
  justify-content: center;
}
